<h4>Have a look at what's happening with your BATTERY!</h4>
<ul>
  <li>charging: {{charging}}</li>
  <li>chargingTime: {{chargingTime}}</li>
  <li>dischargingTime: {{dischargingTime}}</li>
  <li>level: {{level}}</li>
</ul>

<p>why can I tell you that with Javascript?</p>
