.charging {
  background-color: rgba(0, 255, 0, 0.1);
}

.not-charging {
  background-color: rgba(255, 0, 0, 0.1);
}

.show-charge {
  position: fixed;
  top: 0;
  right: 0;
}

button {
  font-size: 15px;
  border: 1px dashed black;

  &.active {
    color: red;
    border: 1px dashed blue;
  }

  &:focus {
    outline: 2px solid rgba(0, 255, 255, 0.5);
  }
}

h4 {
  font-size: 15px;
  font-family: arial;
  font-weight: normal;
  margin: 15px 0;
}

label {
  display: block
}

textarea {
  resize: none;
  width: 400px;
  height: 100px;
}

.lang {
  font-size: 12px;
}
